<mat-card class="contain">
    <form class="form-signin" method="POST" action="#" role="form">
        <mat-card-title>{{ 'AUTH.RESETPASSWORD.TITLE' | translate }}</mat-card-title>
        <input id="verificationCode" type="hidden" maxlength="50"
               placeholder="{{ 'AUTH.RESETPASSWORD.CODE' | translate }}"
               [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
        <mat-input-container>
            <input matInput id="newPassword" type="password" maxlength="25"
                   placeholder="{{ 'AUTH.RESETPASSWORD.PASSWORD' | translate }}"
                   length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </mat-input-container>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="resetPassword()" id="signupSubmit" type="submit">
                {{ 'AUTH.RESETPASSWORD.SUBMIT' | translate }}
            </button>
        </mat-card-actions>
    </form>
</mat-card>
