:host {
    width: 100%;
}

.code {
    overflow: auto;
}

.command {
    text-align: right;
}

.command span {
    display: inline-block;
    padding: 10px;
    background: rgba(255, 255, 255, .25);
    border-radius: 2px;
}

mat-expansion-panel /deep/ mat-panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-right: 0;
    display: inline;
}

mat-expansion-panel /deep/ .mat-expansion-panel-body {
    padding: 0;
}

mat-expansion-panel {
    background: transparent;
    box-shadow: none !important;
}

